body {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	background: url(../img/kellyfarm.jpg) no-repeat fixed 0% 0%/cover;
	
}

.center {
    margin: auto;
    width: 90%;
    border: 3px solid #ffffff;
    padding: 10px;
	background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.7);
}